.button {
    color: hsl(var(--hue--2), var(--sat--2), var(--lum--2));
    border: 0.5rem solid hsl(var(--hue--3), var(--sat--3), var(--lum--3));
    border-radius: 1rem;
    background-color: hsl(var(--hue--1), var(--sat--1), var(--lum--1));  
    font-size: 5rem;
    align-content: center;
    text-align: center;
    
}

.button1 {
    color: hsl(var(--hue--2), var(--sat--2), var(--lum--2));
    border: 0.1rem solid hsl(var(--hue--3), var(--sat--3), var(--lum--3));
    border-radius: 0.2rem;
    background-color: hsl(var(--hue--1), var(--sat--1), var(--lum--1));
    width: 100%;
    font-size: 1rem;
}

.btn_click{
    transition: transform 0.1s;
}

.btn_click:active {
    transform: scale(0.99);
    box-shadow: none;
}

.button-zoom{
    scale: 1.4;
}

.btn_bg{ 
    position: relative;
    background-color: hsl(var(--hue--3), var(--sat--3), var(--lum--3));
}

.warning_btn{
    color: hsl(var(--hue--2), var(--sat--2), var(--lum--2));
    border: 0.2rem solid hsl(var(--hue--3), var(--sat--3), var(--lum--3));
    border-radius: 0.5rem;
    background-color: hsl(var(--hue--1), var(--sat--1), var(--lum--1));
    width: 100%;
    font-size: 2rem;
}

.question_button{
    color: hsl(var(--hue--2), var(--sat--2), var(--lum--2));
    border: 0.2rem solid hsl(var(--hue--3), var(--sat--3), var(--lum--3));
    border-radius: 0.5rem;
    background-color: hsl(var(--hue--1), var(--sat--1), var(--lum--1));
    width: 10%;
    font-size: 2rem;
}

.btn_bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--hue--1), var(--sat--1), var(--lum--1));
    border-radius: 0.5rem;
    z-index: -1;
}

.bottom-right-curve {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
    position: relative;
}

.bottom-right-curve::before {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
}

.bottom-left-curve {
    clip-path: polygon(0 80%, 20% 100%, 100% 100%, 100% 0, 0 0);
    position: relative;
}

.bottom-left-curve::before {
    clip-path: polygon(0 80%, 20% 100%, 100% 100%, 100% 0, 0 0);
    position: absolute;
}

.top-right-curve {
    clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 0 100%);
    position: relative;
}

.top-right-curve::before {
    clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 0 100%);
    position: absolute;
}

.top-left-curve {
    clip-path: polygon(0 20%, 20% 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
}

.top-left-curve::before {
    clip-path: polygon(0 20%, 20% 0, 100% 0, 100% 100%, 0 100%);
    position: absolute;
}

