.card{
    color: hsl(var(--hue--2), var(--sat--2), var(--lum--2));
    border: 0.3rem solid hsl(var(--hue--3), var(--sat--3), var(--lum--3));
    border-radius: 1rem;
    background: fixed hsl(var(--hue--4), var(--sat--4), var(--lum--4));
    z-index: 1;
    overflow: auto;
    opacity: 0.3; /* 0.3 */
    transform: translateY(10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
  }

.card_button{
    color: hsl(var(--hue--1), var(--sat--2), var(--lum--2));
    font-size:calc(var(--font_size) * 4);
    align-content: center;
    text-align: center;
    transition: transform 0.2s; 
    width: auto;
    height: 0.5rem;
    padding-block: 1rem;
    margin-left: auto;
}

.card_content_frame{
    border: 0.2rem solid hsl(var(--hue--3), var(--sat--3), var(--lum--3));
    border-radius: 1rem;
    background: fixed hsl(var(--hue--1), var(--sat--1), var(--lum--1));   
}
.card_flex{
    display: flex;
    /* align-items: center; */
    gap: 1rem;
}

.card_gap{
    gap: 8rem;
}

.card_flex_col{
    flex-direction: column;
    width: 100%;
}

.card_mg_block{
    margin-block: 1rem;
}

.card_mg_inline{
    margin-inline: 0.5rem;
}

.card_grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 0.3rem;
}

.riskinfo_card{
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



