body {
background: linear-gradient(to bottom, hsl(var(--hue--4), var(--sat--4), var(--lum--4)) 70%, hsl(var(--hue--5), var(--sat--5), var(--lum--5)));
overflow: hidden;
height: 100vh;
}

.flex{
    display: flex;
    align-items: center;
    margin-block-start: 1rem;
}

.flex2{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.flex_col{
    flex-direction: column;
}

.justify_center{
    text-align: center;
}

h1 {
font-size: calc(var(--font_size) * 3);
font-weight: normal;
color: hsl(var(--hue--2), var(--sat--2), var(--lum--2));
}

h1,h2,h3,h4,p,label,select {
    font-family: var(--font-family);
    font-weight: 300;
}



footer {
    width: 70%;
}

a {
    text-decoration: none;
    color: hsl(var(--hue--5), var(--sat--5), var(--lum--5));
    transition: transform 0.2s;
}

a:active {
    transform: scale(0.95);
}

.question_button {
    font-family: 'Poppins', sans-serif;
}