.container{
  height: 100vh;
}

.grid--example {
  display: grid;
  height: 100%;
    grid-template-columns: repeat(3, calc(var(--view_width) / 3));
    grid-template-rows: repeat(6, calc(var(--view_width) / 3));
}

.mgtop{
  margin-block-start: auto;
}

.box_content_center{
    margin-block: auto;
}

.box-1{
  grid-column: 1;
  grid-row: 1;
}

.box-2{
    grid-column: 2;
    grid-row: 1;
}
.box-3{
    grid-column: 3;
    grid-row: 1;
}
.box-4{
    grid-column: 1;
    grid-row: 2;
}
.box-5{
    grid-column: 2;
    grid-row: 2;
}

.box-6{
    grid-column: 3;
    grid-row: 2;
}

.box-7{
    grid-column: 1;
    grid-row: 3;
}

.box-8{
    grid-column: 2;
    grid-row: 3;
}

.box-9{
    grid-column: 3;
    grid-row: 3;
}

.box-10{
    grid-column: 1;
    grid-row: 4;
}

.box-11{
    grid-column: 2;
    grid-row: 4;
}

.box-12{
    grid-column: 3;
    grid-row: 4;
}

.box-13{
    grid-column: 1;
    grid-row: 5;
}

.box-14{
    grid-column: 2;
    grid-row: 5;
}

.box-15{
    grid-column: 3;
    grid-row: 5;
}

.box_span1-3{
    grid-column: 1 / span 3;
    grid-row: 1;
}

.boxspan_1-5_row{ 
    grid-column: 1 / span 3;
    grid-row: 1 / span 5;
}

.box_span4-6{
    grid-column: 1 / span 3;
    grid-row: 2;
}

.boxspan_6_row{
    grid-column: 1 / span 3;
    grid-row: 6;
}