.textfield{ 
    color: hsl(var(--hue--2), var(--sat--2), var(--lum--2));
    border: 0.1rem solid hsl(var(--hue--3), var(--sat--3), var(--lum--3));
    border-radius: 0.3rem;
    background-color: hsl(var(--hue--1), var(--sat--1), var(--lum--1));  
    align-content: center;
    text-align: left;
    width: 100%;
    height: 2rem;
    font-size: calc(var(--font_size) * 1);
}
.register-text {
    color: hsl(var(--hue--5), var(--sat--5), var(--lum--5));
    font-size: calc(var(--font_size) * 1);
    font-weight: bold;
    align-items: center;
    text-align: center;
    
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 8px;
  }
  